/**
 * ----------------------------------------
 * Font Family
 * ----------------------------------------
 */

$font-roboto: 'Roboto', sans-serif;
$fonts-name: roboto;

/**
 * ----------------------------------------
 * Font-Weight
 * ----------------------------------------
 */

$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-black: 900;

$font-weight-roboto:("thin": $font-thin,
    /* Roboto Only */
    "light": $font-light,
    /* Roboot Only */
    "regular": $font-regular,
    "medium": $font-medium,
    "bold": $font-bold,
    "black": $font-black);


/**
 * ----------------------------------------
 * Colors - Palette
 * ----------------------------------------
 */

$main-bg-color: #13151e;
$main-font-color: #FAFAFA;
$main-text-shadow-color: #D6222B;

$color-red: #D91A2A;
$color-fullred: #a00000;
$color-gold: #dfc298;